<section>
  <div class="welcome-display">
    <h1>Welcome to Expense Manager</h1>
  </div>
  <div class="form-wrapper">
    <form action="" method="post">
      <h2>Login to your account</h2>
      <mat-form-field>
        <input matInput
               placeholder="User name" [(ngModel)]="user"/>
      </mat-form-field>
      <mat-form-field>
          <input matInput
                 placeholder="Password" [(ngModel)]="password" 
                 type="password"/>
        </mat-form-field>
        <button mat-raised-button	>Enter</button>
    </form>
  </div>
</section>
