$field-width: calc(100% / 5);

.table-wrapper {
  padding: 0 30px;
}

.table-content {
  height: 215px;
  margin-bottom: 15px;
  overflow-y: auto;
}

.table-headers {
  display: flow-root;
  padding-top: 20px;
  width: 100%;
  
  li {
    display: block;
    float: left;
    order: 1;
    width: $field-width;
  }
}

.table-row {
  display: table;
  width: 100%;

  li {
    display: table-cell;
    font-size: .8em;
    width: $field-width;
  }

  i {
    cursor: pointer;
  }
}
