<div class="table-wrapper">
  <h2>Expenses</h2>
  <div class="expenses-list">
    <ul class="table-headers">
      <li *ngFor="let title of titles">{{title}}</li>
    </ul>
  </div>
  <div class="table-content">
    <ul class="table-row"
        *ngFor="let text of dataSource; let index = index;">
      <li>{{text.title}}</li>
      <li>{{text.amount | currency}}</li>
      <li>{{text.date | date}}</li>
      <li>{{text.details}}</li>
      <li>
        <i class="material-icons"
           (click)="removeExpense(index)">delete_forever</i>
      </li>
    </ul>
  </div>
</div>
