@import '../../variables';
$field-width: calc(100% / 5);

.table-wrapper {
  padding: 0 30px;
}

.table-content {
  height: 215px;
  margin-bottom: 15px;
  overflow-y: auto;
}

.table-headers {
  border-bottom: 2px solid $contrast-color;
  display: flow-root;
  padding: 10px 0 5px;
  width: 100%;
  
  li {
    display: block;
    float: left;
    order: 1;
    width: $field-width;
  }
}

.table-row {
  display: table;
  width: 100%;

  li {
    display: table-cell;
    font-size: .8em;
    width: $field-width;
  }

  i {
    cursor: pointer;
  }
}

h2 {
  font-size: 1.2em;
  padding: 5px 0;
  text-align: right;

  &:first-of-type {
    padding-top: 0;
  }

  span {
    font-size: 1.5em;
  }
}

.expenses-list {
  padding-top: 10px;
}
