<div class="table-wrapper">
  <h2>Money available:
    <span>{{availableMoney | currency}}</span>
  </h2>
  <h2 (click)="getTotalMonthAmount()">Total month expenses:
    <span>{{monthExpenses | currency}}</span>
  </h2>
  <div class="expenses-list">
  <h3>Expenses of {{getCurrentMonth()}}</h3>
    <ul class="table-headers">
      <li *ngFor="let title of titles">{{title}}</li>
    </ul>
    <div class="table-content">
      <ul class="table-row"
          *ngFor="let text of dataSource; let index = index;">
        <li>{{text.title}}</li>
        <li>{{text.amount | currency}}</li>
        <li>{{text.date | date}}</li>
        <li>{{text.details}}</li>
        <li>
          <i class="material-icons"
             (click)="sumToAvailableMoney(index);
             removeExpense(index);">delete_forever</i>
        </li>
      </ul>
    </div>
  </div>
</div>
