main {
  background-color: slategray;
  color: #fff;
  display: flow-root;
  font-family: Arial, serif;
  font-size: 18px;
  min-height: 100vh;
  padding: 20px;
}

h1 {
  font-size: 2em;
  letter-spacing: .1em;
}
