@import "../variables";

main {
  color: $third-color;
  display: flow-root;
  font-family: Arial, serif;
  font-size: 18px;
  min-height: 100vh;
  padding: 20px;
}

h1 {
  font-size: 2em;
}

app-create-expense-component {
  float: left;
}

app-table-component {
  float: left;
  width: calc(100% - 400px);
}
