<div class="create-expense--form mat-elevation-z6">
  <mat-form-field>
    <input matInput
           placeholder="Expense title" [(ngModel)]="title"/>
  </mat-form-field>
  <mat-form-field
    class="create-expense--half-form-field
    create-expense--margin-right">
    <input matInput
           [(ngModel)]="amount"
           placeholder="Expense amount"
           type="number"/>
  </mat-form-field>
  <mat-form-field class="create-expense--half-form-field">
    <input matInput
           [(ngModel)]="date"
           placeholder="Date"
           type="date"/>
  </mat-form-field>
  <mat-form-field>
    <textarea matInput
              [(ngModel)]="details"
              placeholder="Comments"></textarea>
  </mat-form-field>
  <button (click)="addExpense()"
          mat-raised-button>Click me!</button>
</div>
