<div class="create-expense--form mat-elevation-z6">
  <mat-form-field>
    <input matInput
           placeholder="Expense title" [(ngModel)]="title"/>
  </mat-form-field>
  <mat-form-field
    class="create-expense--half-form-field
    create-expense--margin-right">
    <input matInput
           [(ngModel)]="amount"
           placeholder="Expense amount"
           type="number"/>
  </mat-form-field>
  <mat-form-field class="create-expense--half-form-field">
    <input matInput
           [(ngModel)]="date"
           placeholder="Date"
           type="date"/>
  </mat-form-field>
  <div class="expense-type-menu" 
       [class.selected]="expenseTypeMenuSelected">
    <span (click)="showMenu()">{{expenseTypeLabel}}</span>
    <ul class="mat-elevation-z6"
        *ngIf="showExpenseTypeMenu">
      <li>
        <button mat-raised-button>+ Add expense type</button>
      </li>
      <li *ngFor="let type of expenseType">
        <button mat-raised-button 
                (click)="getListValue(type.value)">{{type.label}}</button>
      </li>
    </ul>
  </div>
  <mat-form-field>
    <textarea matInput
              [(ngModel)]="details"
              placeholder="Comments"></textarea>
  </mat-form-field>
  <button (click)="addExpense()"
          mat-raised-button>Click me!</button>
</div>
